.tokenomics{
  border-top:1px solid rgba(255,255,255,.04)
}

.token-grid{
  align-items:stretch
}

.donut-wrap{
  display:flex;
  align-items:center;
  gap:45px;
  margin-top:40px
}

.donut{
  width:260px;
  height:260px;
  border-radius:50%;
  background:conic-gradient(#43e8c3 0 100%);
  display:grid;
  place-items:center;
  box-shadow:0 0 60px rgba(67,232,195,.07)
}

.donut:before{
  content:"";
  position:absolute;
  width:174px;
  height:174px;
  border-radius:50%;
  background:#04100f
}

.donut>div{
  position:relative;
  text-align:center
}

.donut small,
.donut b,
.donut em{
  display:block
}

.donut small{
  font-size:8px;
  color:#72827e
}

.donut b{
  font-size:15px;
  margin:8px 0
}

.donut em{
  font-style:normal;
  font-size:9px;
  color:var(--mint)
}

.legend{
  flex:1
}

.legend>div{
  display:grid;
  grid-template-columns:10px 1fr auto;
  gap:10px;
  align-items:center;
  font-size:9px;
  margin:16px 0;
  color:#a9b9b5
}

.legend span{
  width:8px;
  height:8px;
  border-radius:50%;
  background:var(--mint)
}

.legend b{
  font-size:10px;
  color:#e6eeec
}
